.form {
  background: #848fa5;
  padding: 1em;
  color: #f7f7f7;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #272725;
}

.formField {
  margin-bottom: 1em;
}

.input,
.label,
.textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.label {
  margin-bottom: 0.4em;
}

.input,
.textarea {
  border: 1px solid #898981;
  border-radius: 7px;
  color: #51514b;
}

.textarea,
.input[type="text"] {
  padding: 0.75em 1em;
}

.input::placeholder,
.textarea::placeholder {
  color: #afafaf;
  opacity: 1;
}

.formFieldError {
  border: 2px solid #c14953;
}

.formFieldErrorMessage {
  color: white;
  font-size: 0.9em;
  font-weight: 400;
  background: #c14953;
  padding: 0.2em 1em;
  text-align: center;
  border-radius: 7px;
  margin-top: 0.3em;
}
