.footer {
  color: #848fa5;
  font-size: 0.8em;
  padding: 2em 1em;
}

.footer,
.footer p {
  text-align: center;
}

.footer nav a {
  display: inline-block;
  text-decoration: none;
  color: #848fa5;
  font-size: 1.5em;
  margin: 0.5em 0.4em 2em 0.4em;
}

.socials {
  margin-bottom: 5em;
}
