.project {
  background: #505a6d;
}

.preview {
  padding: 0.5em 1em 1.5em 1.5em;
}

.preview a {
  border-bottom: none;
  color: #222222;
  font-style: italic;
  margin: 0;
}

.preview h3 {
  color: #f7f7f7;
}
