.signup {
  background: #848fa5;
  box-shadow: 5px 5px 5px #272725;
  color: #f9f9f9;
  padding: 1em;
  margin: 1.5em auto 0 auto;
  max-width: 500px;
  border-radius: 5px;
  text-align: center;
}

.signup p {
  font-size: 1em;
  margin-bottom: 1em;
}

.filterDarkBlue {
  filter: invert(15%) sepia(6%) saturate(2558%) hue-rotate(182deg)
    brightness(94%) contrast(84%);
}

.signup img {
  position: relative;
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  margin: 0 1em 0 0;
}

.signup .email {
  border: none;
  border-radius: 3px;
  font-size: 1em;
  height: 30px;
  margin-right: 0.5em;
  padding: 0 0.5em;
  width: 60%;
}

.formFieldsContainer {
  display: flex;
}

@media (min-width: 600px) {
  .signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .right p {
    margin: 0 0 0.5em 0;
  }
}
