.blogPost h1 {
  margin-bottom: 0.6em;
}

.blogPost h2 {
  font-size: 1.5em;
}

#root main.blogPost a,
#root main.blogPost p a {
  font-style: none;
}

.blogPost p code {
  background-color: rgb(46, 52, 64);
  color: rgb(248, 248, 242);
  border-radius: 0.3em;
  font-size: 1em;
  padding: 4px 6px 6px;
  white-space: nowrap;
}
