footer {
  color: #848fa5;
  font-size: 0.8em;
  padding: 2em 1em;
}

footer,
footer p {
  text-align: center;
}

footer nav a {
  display: inline-block;
  text-decoration: none;
  color: #848fa5;
  font-size: 1.5em;
  margin: 0.5em 0.4em 2em 0.4em;
}

.social {
  margin-bottom: 5em;
}

.filter-blue {
  filter: invert(57%) sepia(9%) saturate(696%) hue-rotate(182deg)
    brightness(98%) contrast(89%);
}

.social img {
  width: 40px;
  height: 40px;
  margin: 0 0.2em;
}
