.blog {
  background-color: #848fa5;
  color: #f7f7f7;
  padding: 1em 1em 3em 1em;
}

.blog section {
  padding: 0;
}

@media (min-width: 600px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
  }
}
